@page
@model MinecraftServerInfoPanel.Pages.AboutModel
@{
    ViewData["Title"] = "O aplikacji";
}

<a asp-page="Logs" class="btn btn-primary"><i class="fas fa-database"></i> Logi aplikacji</a>

<p>Wersja aplikacji: @Model.Version</p>