@page
@model MinecraftServerInfoPanel.Pages.AboutModel
@{
    ViewData["Title"] = "O aplikacji";
}

<a asp-page="Logs" class="btn btn-primary"><i class="fas fa-database"></i> Logi aplikacji</a>
<br />
<br />
<p>Wersja aplikacji: @Model.Version</p>

<h3>Changelog</h3>

<h4>1.0.0.5</h4>
<ul>
    <li>Poprawienie odczytu z serwera i zapisu do bazy logów, które nie zawierają daty w tekście loga.</li>
    <li>Przeniesieniu linku "Logi aplikacji" z menu głównego na stronę "O aplikacji"</li>
</ul>

<h4>1.0.0.4</h4>
<ul>
    <li>Dodanie ikon na stronie (FontAwesome)</li>
    <li>Dodanie zarządzania emailami, na które mają iść powiadomienia z aplikacji.</li>
    <li>Dodanie wysłania emaila testowego do wszyskich emaili zapisanych w bazie.</li>
    <li>Zmiana czasu odświeżania danych z serwera na 25 minut.</li>
</ul>