@page
@model MinecraftServerInfoPanel.Pages.ChangelogModel
@{
    ViewData["Title"] = "Changelog";
}

<h3>Changelog</h3>

<h4>1.0.0.12</h4>
<ul>
    <li>Poprawienie wyświetlania tabeli z danymi na stronie głównej</li>
    <li>Poprawienie pokazywania JSONa na stronie głównej z logami serwera Minecraft.</li>
</ul>

<h4>1.0.0.11</h4>
<ul>
    <li>Poprawienie przekierowania na stronę po zalogowaniu.</li>
    <li>Rożne drobne poprawki.</li>
</ul>

<h4>1.0.0.10</h4>
<ul>
    <li>Dodanie na stronach ze statystykami menu z przyciskami statystyk: dzienna, tygodniowa, miesięczna.</li>
</ul>

<h4>1.0.0.9</h4>
<ul>
    <li>Dodanie strony z miesięcznymi statystykami użytkowników ile czasu grali na serwerze.</li>
</ul>

<h4>1.0.0.8</h4>
<ul>
    <li>Dodanie strony z tygodniowymi statystykami użytkowników ile czasu grali na serwerze.</li>
</ul>

<h4>1.0.0.7</h4>
<ul>
    <li>Dodanie strony z dziennymi statystykami użytkowników ile czasu grali na serwerze.</li>
</ul>

<h4>1.0.0.6</h4>
<ul>
    <li>Dodanie pola "Opis" do użytkownika z możliwością jego edycji.</li>
    <li>Rożne drobne poprawki.</li>
</ul>

<h4>1.0.0.5</h4>
<ul>
    <li>Poprawienie odczytu z serwera i zapisu do bazy logów, które nie zawierają daty w tekście loga.</li>
    <li>Przeniesieniu linku "Logi aplikacji" z menu głównego na stronę "O aplikacji".</li>
</ul>

<h4>1.0.0.4</h4>
<ul>
    <li>Dodanie ikon na stronie (FontAwesome).</li>
    <li>Dodanie zarządzania emailami, na które mają iść powiadomienia z aplikacji.</li>
    <li>Dodanie wysłania emaila testowego do wszyskich emaili zapisanych w bazie.</li>
    <li>Zmiana czasu odświeżania danych z serwera na 25 minut.</li>
</ul>