@page
@model MinecraftServerInfoPanel.Pages.LogsModel
@{
    ViewData["Title"] = "Logi aplikacji";
}

<h3>Logi aplikacji</h3>

<p>Z bazy jest pobierane 100 ostatnich wpisów.</p>

<div class="row-full">
    <table id="logsTable" class="table table-striped table-bordered ">
        <thead>
            <tr>
                <th>Data</th>
                <th>Poziom</th>
                <th>Wiadomość</th>
                @*<th>Wyjątek / błąd</th>*@
            </tr>
        </thead>
        <tbody>

            @foreach (var log in Model.Logs)
            {
                <tr>
                    <td>@log.Date</td>
                    <td>@log.Level</td>
                    <td>@log.Message</td>
                    @*<td>@log.Exception</td>*@
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#logsTable').DataTable({
                "order": [[0, "desc"]],
                "pageLength": 25,
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Polish.json"
                },
                "columns": [
                    { "width": "16%" },
                    null,
                    null
                ]
            });
        });
    </script>
}