@page "{id:int}"
@model MinecraftServerInfoPanel.Pages.Settings.DeleteEmailModel
@{
    ViewData["Title"] = "Usuwanie adresu email";
}

<h4>Usuwanie adresu email</h4>

<div class="alert alert-danger">
    Czy na pewno chcesz usunąć adres email: <b>@Model.Email.EmailAddress</b> ?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-page="Index" class="btn btn-default">Anuluj</a>
</form>
