@page
@model Settings.SettingsModel
@{
    ViewData["Title"] = "Ustawienia";
}

<h3>Ustawienia aplikacji</h3>

<hr />
<h4>Emaile</h4>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<p>Emaila, na które są wysyłane powiadomienia o aktywności na serwerze:</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Adres email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var email in Model.Emails)
        {
            <tr>
                <td>@email.EmailAddress</td>
                <td>
                    <a href="#" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="AddEmail" class="btn btn-primary">Dodaj adres e-mail</a>
<a asp-page="" class="btn btn-info">Wyślij emaila testowego</a>

<br /><br />
<hr />
<h4>Inne ustawienia</h4>