Statystyka:
<a href="~/Users/Statistics/Day" class="btn btn-primary btn-sm"><i class="fas fa-calendar-day"></i> Dzienna</a>
<a href="~/Users/Statistics/Week" class="btn btn-primary btn-sm"><i class="fas fa-calendar-week"></i> Tygodniowa</a>
<a href="~/Users/Statistics/Month" class="btn btn-primary btn-sm"><i class="fas fa-calendar-alt"></i> Miesięczna</a>

<br />